/*body{*/
   /*background-color: gray;*/
 
/*   background-position:center center;*/
/*   background-size:cover;*/
/*   background-image : url("https://source.unsplash.com/user/blakeliskphoto/BxRSlJhFHus");*/
/*}*/

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display:inline;
}

#deleteComment{
    display: inline;
}

#jumbo{
    background: url("https://source.unsplash.com/user/ingle_jake/7aGWeUIf8W8/");
    background-size: cover;
    color: white;
    background-position: center center;
    /*background: red;*/
}